DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

DB_ENGINE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=nephewcrm
DB_USER=postgres
DB_PASSWORD=change-me

BOT_CONVERSA_API_BASE_URL=https://backend.botconversa.com.br
BOT_CONVERSA_API_TIMEOUT=30
BOT_CONVERSA_API_AUTH_HEADER=API-KEY
