{% extends 'base.html' %}

{% block title %}Disparos do Gmail{% endblock %}

{% block content %}
  <section class="page-header mb-4">
    <span class="section-kicker">Gmail</span>
    <h1>Disparos de e-mail</h1>
    <p class="text-body-secondary mb-0">Selecione um template salvo, marque as pessoas da base interna, informe os e-mails em copia e defina o intervalo desejado entre os envios.</p>
  </section>

  {% include 'gmail_integration/_subnav.html' %}

  <section class="row g-4">
    <div class="col-xl-5">
      {% include 'gmail_integration/_dispatch_form_card.html' with gmail_dispatch_form=dispatch_form gmail_dispatch_action_url=gmail_dispatch_action_url|default:'' %}
    </div>
    <div class="col-xl-7">
      {% include 'gmail_integration/_dispatch_history_card.html' with gmail_dispatches=dispatches %}
    </div>
  </section>
{% endblock %}
